doctype html
html(lang='en', style='width:100%;height:100%').no-js
    head
        title= title
        block meta
            meta(charset='utf-8')
            meta(name='viewport', content='width=device-width, initial-scale=1')
            meta(name='description', content='Jakamedia Company Profile')
            meta(name='keywords', content='jakamedia, company profile')
            meta(name='author', content='Jakamedia')
        block favicon
            link(rel='apple-touch-icon', sizes='180x180', href='/favicon/apple-touch-icon.png')
            link(rel='icon', type='image/png', sizes='32x32', href='/favicon/favicon-32x32.png')
            link(rel='icon', type='image/png', sizes='16x16', href='/favicon/favicon-16x16.png')
            link(rel='manifest', href='/favicon/site.webmanifest')
            link(rel='mask-icon', href='/favicon/safari-pinned-tab.svg', color='#282a36')
            meta(name='msapplication-TileColor', content='#282a36')
            meta(name='theme-color', content='#282a36')
        block style
            link(rel='stylesheet', type='text/css', href='/stylesheets/app.css')
    body
        include header
        block content
        block script
